body {
  font-family: monospace;
  background-color: lightskyblue;
}

/* header */
#header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#score {
  text-align: right;
}

#score > tbody > tr > td {
  width: 40px;
  text-align: right;
  font-weight: 600;
}

.score-title {
  width: 120px;
  font-weight: 600;
}

#title {
  width: 240px;
  margin: 30px 60px;
  text-align: center;
  line-height: 1.2;
}

#title > h1 {
  font-size: 44px;
  font-weight: 600;
}

#title > p {
  font-size: 18px;
}

#options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 160px;
}

#speed {
  display: flex;
  justify-content: center;
  text-align: center;
  height: fit-content;
  align-items: center;
  margin-bottom: 10px;
}

#speed > h1 {
  font-weight: 600;
  padding: 0 10px;
}

#level {
  margin-bottom: 5px;
}

/* main container */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContainer {
  border: 2px solid rgb(14, 77, 1);
  border-radius: 2px;
}

#gameOverScreen {
  background-color: rgba(255, 255, 255, 0.541);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
}

#gameOverScreen > h1 {
  font-weight: 600;
  font-size: 32px;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: white;
  box-sizing: border-box;
}

.empty-cell {
  background-color: black;
}

.empty-cell-pixelized {
  background-color: black;
  border: 1px solid rgb(2, 83, 2);
}

.snake-cell,
.new-cell {
  border: 1px solid rgb(2, 83, 2);
}

.new-cell {
  background-color: green;
}

/* footer */
#footer {
  line-height: 1.5;
  margin-top: 20px;
  text-align: center;
}
