body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  border: 1px solid black;
  margin-top: 80px;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid green;
  box-sizing: border-box;
}

.emptyCell {
  background-color: black;
}

.snakeCell {
}

.newCell {
}
